<h1>CREA TU PROPIA RUTINA</h1>
<div class="container form-div">
  <div class="row">
    <form class="createRutine">
      <select #select>
        <option *ngFor="let e of exercises" [value]="e.name">
          {{e.name}}
        </option>
      </select>



      <input type="number" name="peso" value="" [(ngModel)]="weight" placeholder="Peso (kg)">

      <input type="number" name="repeticion" value="" [(ngModel)]="repetition" placeholder="Repeticiones">

      <input type="number" name="series" value="" [(ngModel)]="series" placeholder="Series">


      <button (click)="addTraining(select.value)">Training</button>





      <input type="text" name="name" value="" [(ngModel)]="name" placeholder="Nombre de la Rutina">


      <button (click)="saveRutine()">Rutina</button>
    </form>
<br><br>
    <div class="" *ngFor="let t of training">
      <div class="carta">
        <p>{{t.exercise}}</p>
        <p>Peso:{{t.peso}}</p>
        <p>Series:{{t.series}}</p>
        <p>Repeticion:{{t.repeticion}}</p>
      </div>
      <br><br>
    </div>
  </div>
</div>
