
<div class="col-sm-12"><h2>¡ Aquí podrás crear tantas rutinas como quieras !</h2></div>
<br>
<br>
<br>
<br>

<div class="col-sm-12">
  <input type="text" class="form-group" placeholder="Nombre de tu rutina">
  <br>
  <br>
  <input type="text" class="form-inline" placeholder="Entrenamientos">
  <br>
  <br>
  <button class= "glyphicon glyphicon-plus-sign btn btn-success"> Añade una nueva rutina</button>

  <button [routerLink]="['/training']" class= "glyphicon glyphicon-pencil  btn btn-success">  Edita tu rutina

  </button>
</div>

