.carta {
webkit-box-shadow: 9px 10px 47px 4px rgba(8,8,8,0.85);
moz-box-shadow: 9px 10px 47px 4px rgba(8,8,8,0.85);
box-shadow: 9px 10px 47px 4px rgba(8,8,8,0.85);    
width: 600px;
text-align: center;
margin: 0 auto;
background: #fff;
padding: 20px;
}
h1{
    text-align: center;
}
.form-div{
    text-align: center;
    background: url(https://static.pexels.com/photos/791763/pexels-photo-791763.jpeg) center center no-repeat;
    background-size: cover;

    height: 800px;
    padding: 30px;
}



