<h2>
  ¿Preparado para entrenar?
</h2>
<br>
<br>
<div class="text-center paco" *ngIf=userPopulate>
  NAME: {{userPopulate.name}}
  <br>
  <br>


  <div  class="rutinas" *ngFor=" let r of rutinas">

    <strong>RUTINA: {{r.name}} {{r.weight}}</strong> 
    <br>
    <hr class="pp">
    <div *ngFor='let a of r.training'>
        <p>Nombre: {{ a.exercise}}</p>
      <p>repeticiones: {{ a.repetition }}</p>
      <p>peso: {{ a.weight }}</p>
      <p> series: {{ a.series }}</p>

    </div>
  </div>
</div>




<button [routerLink]="['/rutine']" class="btn btn-success">Crea tu rutina</button>
