<div id="img" class="container">
    <div class="row">
      <div class="color" *ngIf="!session.getUser()">
        <form>
          <label> Username </label>
          <input type="text" class="form-control" placeholder="Username" required="" autofocus="" [(ngModel)]="username" name="username"
          />
          <br>
          <label> Password </label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" />
          <div>
            <button (click)="login()"> Login </button>
          </div>
        </form>
        <p *ngIf="error" class="error"> {{ error }} </p>
      </div>

      <div *ngIf="session.getUser()">
        <pre> {{ session.getUser() | json }} </pre>

      </div>
    </div>
  </div>

