<h2 class = "title-training">
  ¿ Ya sabes que entrenamientos te gustaría probar ?
<br>
<br>
  ¡ Es el momento de integrarlos !
  <br>
  <br>
  <br>
</h2>
<div class="col-sm-12">
<input type="text" class="form-inline" placeholder="Repeticiones">
<br>
<br>
<br>
<input type="text" class="form-inline" placeholder="Peso">
<br>
<br>
<br>
<input type="text" class="form-inline" placeholder="Series">
<br>
<br>
<br>
<input type="text" class="form-inline" placeholder="Exercise">
<br>
<br>
<br>

<button class= "glyphicon glyphicon-plus-sign btn btn-success"> Añade un nuevo entrenamiento</button>

<button [routerLink]="['/training']" class= "glyphicon glyphicon-plus-sign  btn btn-success">  ¿Quieres añadir un nuevo ejercicio a tu entrenamiento? </button>

</div>





